<div class="menu">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a href="javascript:void(0)" routerLink="/home">LOGO</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href="javascript:void(0)" (click)="gotoreview()">
              <!-- <span class="glyphicon glyphicon-user"></span> -->
              Rating</a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="gotoMaps()">
              <!-- <span class="glyphicon glyphicon-log-in"></span> -->
              Maps</a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="gotoFileUpload()">
              <!-- <span class="glyphicon glyphicon-log-in"></span>  -->
              File Upload</a>
          </li>
		  
		  
          <li>
            <a href="javascript:void(0)">
              <!-- <span class="glyphicon glyphicon-log-in"></span> -->
              Get a Quote</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li (click)="getLoginModal()">
            <a href="javascript:void(0)" *ngIf="token==undefined || token==''">
              <span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
          <li>
            <a mat-button *ngIf="token!=undefined && token!=''" [matMenuTriggerFor]="menu">
              <span class="glyphicon glyphicon-user"></span>
              <span class="pad_l_5">{{loginUserData.email}}</span>
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="gotoLogout()">
                <span class="	glyphicon glyphicon-log-out"></span>
                <span class="pad_l_10">Logout</span>
              </button>
              <button mat-menu-item (click)="gotoWishlist()">
                <span class="	glyphicon glyphicon-heart"></span>
                <span class="pad_l_10">Wishlist</span>
              </button>
            </mat-menu>
            <!-- routerLink="/home" -->
          </li>
          <li (click)="gotoviewCart()">
            <a href="javascript:void(0)">
              <span class="glyphicon glyphicon-shopping-cart"></span> Cart
              <span class="badge badge-success ml-2" *ngIf="cartItem_count>0" style="background: #646464;margin-top: -4px;">{{cartItem_count}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-login-modal></app-login-modal>