<div class="container" style="margin-top: 50px;">
    <div class="">
        <div class="map_pointer">
            <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{city}}&zoom=10&size=200x200&key=AIzaSyBAyMH-A99yD5fHQPz7uzqk8glNJYGEqus"/> -->
        </div>
    </div>
</div>