<div class="container" style="margin-top: 2%;">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Desc</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Price</th>
            <!-- <th class="text-center" *ngFor="let productqty of cartData">Price({{productqty.qty}})</th> -->
            <th class="text-center">Items</th>
            <th class="text-center">TAX</th>
            <th class="text-center">Sub Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of cartData">
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img class="media-object" [src]="products.upload_photo" style="width: 72px; height: 72px;"> </a>
                <div class="media-body" style="padding-left: 20px;">
                  <h4 class="media-heading">
                    <a href="#">{{products.subcategory}}</a>
                  </h4>
                  <div class="lead">
                    <span class="ofr_price">
                      <span>&#8377;</span>{{products.upload_netPrice}}</span>
                    <span class="mrp_price">
                      <span>&#8377;</span>{{products.upload_mrp}}</span>
                    <span class="discount">{{products.upload_discount}}</span>
                  </div>
                  <a href="javascript:void(0)" (click)="deleteIem(products.model)">Remove</a>
                </div>
              </div>
            </td>
            <td class="col-sm-2 col-md-2 text-center">
              <!-- <input type="number" class="form-control" id="qty" value="3" [(ngModel)]="products.qty"> -->
              <span>
                <button class="qty-change" (click)="increment(products)">+</button>
                <input class="qty-input form-group qty-align f_wt_700" type="number" [value]="products.qty" [(ngModel)]="products.qty" style="width: 30px;"/>
                <button class="qty-change" (click)="decrement(products)">-</button>
              </span>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>
                <span>&#8377;</span>{{products.upload_netPrice*products.qty}}</strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>{{products.qty}}</strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>{{products.tax}}%</strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>
                <span>&#8377;</span>{{products.sub_tot*products.qty}}</strong>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <h3>Grand Total</h3>
            </td>
            <td class="text-right">
              <h3>
                <strong>
                  <span>&#8377;</span>21321</strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-success">
                Checkout
                <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>