<!-- <div class="container" style="margin-top: 2%;">
  <div class="well well-sm">
    <strong>Category Title</strong>
    <div class="btn-group">
      <a href="javascript:void(0)" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list">
        </span>List</a>
      <a href="javascript:void(0)" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>
  <div id="products" class="row list-group">
    <div class="item col-xs-3 col-lg-3">
      <div class="thumbnail">
        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <a href="javascript:void(0)"> Product title</a>
          </h4>
          <p class="group inner list-group-item-text">Model No</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                <span class="ofr_price">
                  <span>&#8377;&nbsp;</span>45345</span>
                <span class="mrp_price">
                  <span>&#8377;&nbsp;</span>3243</span>
                <span class="discount">40%</span>
              </p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="container" style="margin-top: 2%;">
  <!-- <h3 class="h3">shopping Demo-7 </h3> -->
  <div class="well well-sm">
    <strong>{{subcatname}}</strong>
    <!-- <div class="btn-group">
      <a href="javascript:void(0)" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list">
        </span>List</a>
      <a href="javascript:void(0)" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let data of allData">
      <div class="product-grid7">
        <div class="product-image7">
          <a href="javascript:void(0)" (click)="gotoProductDetail(data)">
            <img class="pic-1" [src]="data.image">
            <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-2.jpg"> -->
          </a>
          <ul class="social">
            <!-- <li>
              <a *ngIf="data.wishlist == '1'" href="javascript:void(0)" class="fa fa-heart" title="Add to wishlist" style="color: #ff6161" (click)="wish_list(data,'0')"></a>
              <a *ngIf="data.wishlist != '1'" href="javascript:void(0)" class="fa fa-heart" title="remove to wishlist" style="color:#cac7c7;" (click)="wish_list(data,'1')"></a>
            </li> -->
            <li>
              <i *ngIf="data.wishlist == '1'" class="fa fa-heart wishlist_styles fr cursor_pointer" style="color: #ff6161" aria-hidden="true" (click)="wish_list(data,'0')"></i>
              <i *ngIf="data.wishlist != '1'" class="fa fa-heart wishlist_styles fr cursor_pointer" style="color:#cac7c7;" aria-hidden="true" (click)="wish_list(data,'1')"></i>
            </li>
            <li>
              <a href="javascript:void(0)" class="glyphicon glyphicon-shopping-cart" title="Add to cart"></a>
            </li>
          </ul>
        </div>
        <div class="product-content">
          <h3 class="title" (click)="gotoProductDetail(data)">
            <a href="javascript:void(0)">{{data.subcategory}}</a>
          </h3>
          <p>{{data.modelno}}</p>
          <div class="lead">
            <span class="ofr_price">
              <span>&#8377;</span>{{data.upload_mrp}}</span>
            <span class="mrp_price">
              <span>&#8377;</span>{{data.upload_netPrice}}</span>
            <span class="discount">{{data.upload_discount}}</span>
          </div>
          <!-- <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>