<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>Desc</th>
            <th>Addtocart</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-sm-3 col-md-3">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png"
                    style="width: 72px; height: 72px;"> </a>
              </div>
            </td>
            <td class="col-sm-5 col-md-5">
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="#">Product name</a>
                </h4>
                <div class="lead">
                  <span class="ofr_price">
                    <span>&#8377;</span>35435</span>
                  <span class="mrp_price">
                    <span>&#8377;</span>6645</span>
                  <span class="discount">45%</span>
                </div>
              </div>
            </td>
            <td class="col-sm-2 col-md-2">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-cart"></span> AddToCart
              </button>
            </td>
            <td class="col-sm-2 col-md-2">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>