.upload_file{
    border: 1px dashed #c5c5c5;
    background: #f5f5f5;
    width: 200px;
    height: 150px;
}
.upload_file span{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.custom-file-upload {
    border: 1px solid #0fa497;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #0fa497;
    color: #fff;
    border-radius: 3px;
}
input[type="file"] {
    display: none !important;
}
.upload_btn{
    background: #0da550;
    border:1px solid #0da550;
    color:#fff;
    width: 115px;
}
.download_file{
    font-size: 30px;
    color: #0da550;
    padding-left: 50px;
    cursor: pointer;
}
.upload_heading{
    font-weight: 600;
    color: #787272;
    margin-bottom: 20px;
    font-size: 16px;
}
