<div class="container" style="margin-top: 50px;">
  <div class="">
      <div class="file_upload">
        <div class="row pad_15">
          <div class="col-md-12">
        
            <div class="col-md-6">
              <h4 class="upload_heading">Products Upload</h4>
              <div class="upload_file mar_b_20">
                <img *ngIf="url" [src]="url" />
                <span *ngIf="!url">Upload files to here...</span>
                <span *ngIf="url" class="pad_l_10 f_wt_600 txt_gray">{{uploadfile}}</span>
              </div>
              <div style="margin-top: 40px;">
                <label for="file-upload" class="custom-file-upload">
                   Choose file
                </label>
                <input id="file-upload" type="file" placeholder="Upload file..." (change)="productexcelUpload($event)" [(ngModel)]="uploadfile"/>
              </div>
              <div>
                <button type="button" class="btn upload_btn"  (click)="uploadData()">
                  <i class="fa fa-cloud-upload"></i> Upload</button>
                <span  class="download_file" title="Download" (click)="excelproddownload()">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </span>
              </div>
            </div>
        
            <div class="col-md-6">
              <h4 class="upload_heading">Attributes Upload</h4>
              <div class="upload_file mar_b_20">
                <img *ngIf="attrurl" [src]="attrurl" />
                <span *ngIf="!attrurl">Upload files to here...</span>
                <span *ngIf="attrurl" class="pad_l_10 f_wt_600 txt_gray">{{uploadAttrfile}}</span>
              </div>
              <div style="margin-top: 40px;">
                <label for="atrfile-upload" class="custom-file-upload">
                   Choose file
                </label>
                <input type="file" id="atrfile-upload" placeholder="Upload file..." (change)="attrexcelUpload($event)" [(ngModel)]="uploadAttrfile"/>
              </div>
              <div>
                <button type="button" class="btn upload_btn" (click)="uploadAttributesData()">
                  <i class="fa fa-cloud-upload"></i> Upload</button>
                <span class="download_file" title="Download">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </span>
              </div>
            </div>
        
          </div>
        </div>
      </div>
  </div>
</div>
