<div class="container" style="margin-top: 100px;">

<table class="table table-striped table-borderd">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Rating</th>
      <th>stars</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of revData">
      <td>{{obj.id}}</td>
      <td>{{obj.name}}</td>
      <td>{{obj.rating}}</td>
      <td>
        <app-rating-page [rating]='obj.rating' [itemId]='obj.id' (ratingClick)="ratingStore($event)"></app-rating-page>
      </td>
    </tr>
  </tbody>
</table>
</div>
