<div class="container" style="margin-top: 50px;">
  <div class="">
    <!-- <div>
      <input type="text" #inputText placeholder="Search a city" />
      <button (click)="showCities()">Go</button>
      <hr />
      <app-maps-geo-location #map></app-maps-geo-location>
    </div> -->
  </div>
</div>