<ngx-smart-modal #myModal identifier="loginModal">
  <div class="row" style="margin-top:20px;margin-bottom:20px;">
    <div class="col-md-12">


      <fieldset>
        <div class="login_form" *ngIf="showLogin">
          <form role="form">
            <h2>Please Sign In</h2>
            <hr class="colorgraph">
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text" class="form-control" name="user" id="user" placeholder="Enter Email / Mobile" [(ngModel)]="loginData.user">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="loginData.password">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <a href="" class="btn" data-color="info">
                  <input type="checkbox" name="remember_me" id="remember_me" checked="checked"> Remember Me
                </a>
              </div>
              <div class="col-md-6 text_align_right">
                <a href="javascript:void(0)" class="btn btn-link" (click)="forgotPwd()">Forgot Password?</a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="submit" class="btn btn-success" (click)="loginSubmit()">Submit</button>
              </div>
            </div>
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span>If u Don't have an account?</span>
                <br>
                <a href="javascript:void(0)" class="" (click)="gotoRegForm()">Create an Account</a>
              </div>
            </div>
          </form>
        </div>

        <div class="register_form" *ngIf="showRegister">
          <form role="form">
            <h2>Please Create In</h2>
            <hr class="colorgraph">
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name" [(ngModel)]="regDetails.fname">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name" [(ngModel)]="regDetails.lname">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" [(ngModel)]="regDetails.email">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Mobile Number" [(ngModel)]="regDetails.mobile">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <textarea name="address" id="address" class="form-control" placeholder="Enter your Address here..." [(ngModel)]="regDetails.address"></textarea>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="regDetails.password">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <input type="password" name="cpwd" id="cpwd" class="form-control" placeholder="Confirm Password" [(ngModel)]="regDetails.cnfrmPwd">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <div class="form-check">
                  <label>
                    <input type="radio" value="male" name="gender" [(ngModel)]="regDetails.gender">
                    <span class="label-text">Male</span>
                  </label>
                  <label>
                    <input type="radio" value="female" name="gender" [(ngModel)]="regDetails.gender">
                    <span class="label-text">Female</span>
                  </label>
                </div>
              </div>
            </div>
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="submit" class="btn btn-success" (click)="regFormSubmit()">Submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="forgot_pwd" *ngIf="showFrgtPwd">
          <form role="form">
            <h2>Please Sign In your Logins</h2>
            <hr class="colorgraph">
            <div class="col-xs-12">
              <div class="form-group" *ngIf="userId">
                <input type="text" class="form-control" name="user" id="user" placeholder="Enter Email / Mobile" [(ngModel)]="loginData.user">
              </div>
              <div class="form-group" *ngIf="otpData.status=='success'">
                <input type="text" class="form-control" name="otp" id="otp" placeholder="Enter OTP" [(ngModel)]="loginData.otp">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="submit" class="btn btn-success" (click)="sendOtp()" *ngIf="sendotp">Send OTP</button>
                <button type="submit" class="btn btn-success" (click)="verifyOTP()" *ngIf="otpData.status=='success'">Submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="newPassword" *ngIf="passwordBlock">
          <form role="form">
            <h2>Please Enter New Password</h2>
            <hr class="colorgraph">
            <div class="col-xs-12">
              <div class="form-group">
                <input type="password" class="form-control" name="newPwd" id="newPwd" placeholder="Enter New Password" [(ngModel)]="loginData.new_password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="cnfrmPwd" id="cnfrmPwd" placeholder="Enter Confirm Password" [(ngModel)]="loginData.confirm_password">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <button type="submit" class="btn btn-success" (click)="resetPwd()">Submit</button>
              </div>
            </div>
          </form>
        </div>

      </fieldset>


    </div>
  </div>
</ngx-smart-modal>