<div class="container" style="margin-top: 2%;">
  <div class="well well-sm">
    <strong>{{catname}}</strong>
    <!-- <div class="btn-group">
      <a href="javascript:void(0)" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list">
        </span>List</a>
      <a href="javascript:void(0)" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div> -->
  </div>
  <div id="products" class="row list-group">
    <div class="col-md-12">
      <div class="item col-md-3" >
        <div *ngFor="let data of catList">
          <div class="thumbnail" (click)="gotoCategory(data.subcategory)">
            <img class="group list-group-image" [src]="data.image" alt="" />
            <div class="caption">
              <h4 class="group inner list-group-item-heading" (click)="gotoCategory(data.subcategory)">
                <a href="javascript:void(0)"> {{data.subcategory}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>