<h1>Welcome to Dashboard</h1>


<!-- <button (click)="gotoLogout()">Logout</button> -->

<!-- <div class="container-fluid">
    <ul class="top-level-menu">
        <li *ngFor="let allCategory of category">
            <a href="javascript:void(0)" (click)="gotoAllCat(allCategory.categoryname)">{{allCategory.categoryname}}</a>
            <ul class="second-level-menu">
                <li *ngFor="let allSubcategory of allCategory.subcategoryname">
                    <a href="javascript:void(0)">{{allSubcategory.subcategory}}</a>
                    <ul class="third-level-menu">
                        <li >
                            <a href="javascript:void(0)">{{allSubcategory.modelno}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Seattle</a>
                </li>
            </ul>
        </li>
    </ul>
</div> -->