@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-smart-modal/ngx-smart-modal.css";
/* @import '../node_modules/ngx-smart-modal/ngx-smart-modal.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.text_align_center{
    text-align: center;
}
.text_align_right{
    text-align: right;
}
.text_align_left{
    text-align: left;
}

/*margins*/
.mar_t_24{
    margin-top: 24px;
}

/*widths*/
.width_100per{
    width:100%;
}

/*height*/
.height_450{
    height: 450px;
}

/*card*/
.card{
    background: #fff;
    color:#fff;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 30px;
}


/*tabs material styles start here*/
.mat-tab-label-content{
    font-size: 20px;
    color: #505050;
    letter-spacing: 0;
    line-height: 20px;
}
.mat-tab-list{
    padding: 10px 0;
}
.mat-tab-label{
    padding: 0 80px !important;
}
.mat-tab-label-active{
    color:#000 !important;
    font-weight: bold !important;
}
.card .mat-tab-list {
    padding: 0px 0 !important;
    background-color: #f3f3f3;
}
.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #e53e3b !important;
}


/* price styles*/
.lead .ofr_price{
    padding-right: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 550;
}
.lead .mrp_price{
    padding-right: 10px;
    font-size: 15px;
    color: #969494;
    font-weight: 550;
    text-decoration: line-through;
}
.lead .discount{
    font-size: 15px;
    color: #48b34a;
    font-weight: 550;
}