<div class="mar_t_24">

  <div class="width_100per height_450">
    <!-- <carousel [sources]="imageSources" [config]="config"></carousel> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="../../assets/slider1.jpg" alt="Prod_Powertex" style="width:100%;">
        </div>
        <div class="item">
          <img src="../../assets/slider5.jpg" alt="Prod_Powertex" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:transparent !important;opacity:1;">
        <span class="glyphicon glyphicon-chevron-left" style="color: #e53e3b;left:15px;"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:transparent !important;opacity:1;">
        <span class="glyphicon glyphicon-chevron-right" style="color: #e53e3b;right: 15px;"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="card">
    <mat-tab-group>
      <mat-tab label="Quote">
        <div class="quote_card">
          <h2>Get a Quote</h2>
          <p>Select a product to start a quote. </p>
          <p> call us at 1-800-STATEFARM.</p>
          <ul>
            <li>
              <a href="javascript:void(0)">Medicare Suppliment</a>
            </li>
            <li>
              <a href="javascript:void(0)">Hospital Income</a>
            </li>
            <li>
              <a href="javascript:void(0)">Life</a>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Payments"> Content 2 </mat-tab>
      <mat-tab label="claims"> Content 3 </mat-tab>
      <mat-tab label="Agents"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>

  <!-- <mat-form-field>
    <input matInput name="last_name" placeholder="Last Name">
  </mat-form-field>
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->

  <!-- categories start here-->
  <div class="container-fluid">
    <ul class="top-level-menu">
      <li *ngFor="let allCategory of category">
        <a href="javascript:void(0)" (click)="gotoAllCat(allCategory.categoryname)">{{allCategory.categoryname}}</a>
        <ul class="second-level-menu">
          <li *ngFor="let allSubcategory of allCategory.subcategoryname">
            <a href="javascript:void(0)">{{allSubcategory.subcategory}}</a>
            <ul class="third-level-menu">
              <li>
                <a href="javascript:void(0)">{{allSubcategory.modelno}}</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Seattle</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!--end here-->

  <section class="tabs_part">
    <div class="container">
      <mat-tab-group>
        <mat-tab label="Insurence">
          <div class="card_body">
            <p>Protect the people and things that matter most in your life.</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-auto-insurance">&nbsp;</span>
                  <span class="list-text">Vehicle Insurance</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-home-insurance">&nbsp;</span>
                  <span class="list-text wrap-text">Home &amp; Property Insurance</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-health">&nbsp;</span>
                  <span class="list-text wrap-text">Health &amp; Disability Insurance</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-life">&nbsp;</span>
                  <span class="list-text">Life Insurance</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-arrow_right">&nbsp;</span>
                  <span class="list-text">View All Insurance
                    <span class="d-md-none s-xm-arrow-right">&nbsp;</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Banking & Loans">
          <div class="card_body">
            <p>Life is complicated. Banking doesn't have to be.</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-auto-insurance">&nbsp;</span>
                  <span class="list-text">Checking & Savings Accounts</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-home-insurance">&nbsp;</span>
                  <span class="list-text wrap-text">Credit Cards</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-health">&nbsp;</span>
                  <span class="list-text wrap-text">Vehicle Loans</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-life">&nbsp;</span>
                  <span class="list-text">Home Loans</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-arrow_right">&nbsp;</span>
                  <span class="list-text">View All Banking & Loans
                    <span class="d-md-none s-xm-arrow-right">&nbsp;</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Investments">
          <div class="card_body">
            <p>You're passionate about your business, we're here to help it succeed.</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-auto-insurance">&nbsp;</span>
                  <span class="list-text">Small Business Insurance</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-home-insurance">&nbsp;</span>
                  <span class="list-text wrap-text">Small Business Finances</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-health">&nbsp;</span>
                  <span class="list-text wrap-text">Small Business Claims</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-life">&nbsp;</span>
                  <span class="list-text">Annuities</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-arrow_right">&nbsp;</span>
                  <span class="list-text">View All Small Business
                    <span class="d-md-none s-xm-arrow-right">&nbsp;</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Small Business">
          <div class="card_body">
            <p>Start building a future to look forward to.</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-auto-insurance">&nbsp;</span>
                  <span class="list-text">Retirement</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-home-insurance">&nbsp;</span>
                  <span class="list-text wrap-text">Education Savings</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-health">&nbsp;</span>
                  <span class="list-text wrap-text">Mutual Funds</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-life">&nbsp;</span>
                  <span class="list-text">Annuities</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a data-sflr="generated" href="javascript:void(0)">
                  <span class="d-none d-md-block pn-arrow_right">&nbsp;</span>
                  <span class="list-text">View All Investments
                    <span class="d-md-none s-xm-arrow-right">&nbsp;</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>

  <section class="protect_part">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="promo_text">
              <h2>Protect Their Future</h2>
              <p>Whether you're looking for the affordability of term insurance, the lifelong protection and cash value of permanent
                insurance, or a combination of both, we have options to fit your needs and budget.</p>
              <a href="javascript:void(0)" class="oneX_link">Learn About Life Insurance
                <img class="-oneX-d-inline pl-2" src="https://static1.st8fm.com/en_US/content_pages/1/assets/claims-blue-chevron-active.svg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="insurence">
              <img src="../assets/insurance.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg_part">
    <div class="bg_part_text_card">
      <h2>More Money for Your Money</h2>
      <p>Save more with a new State Farm Bank® Money Market Savings: Banking Benefits – Deposit Introductory 2.10% Annual Percentage
        Yield (APY) 1 . Limitations apply.</p>
      <a href="javascript:void(0)" class="oneX_link">Learn About Life Insurance
        <img class="-oneX-d-inline pl-2" src="https://static1.st8fm.com/en_US/content_pages/1/assets/claims-blue-chevron-active.svg">
      </a>
    </div>
  </section>

  <section class="live_life_part">
    <div class="container">
      <h2>More Money for Your Money</h2>
      <p>No matter where you are in life, we're here to help.</p>
      <div class="col-md-12">
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/hanging_out_with_friends_s.jpg" class="img-thumbnail my-3">
          </a>
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/father_and_young_daughter_play_s.jpg" class="img-thumbnail my-3">
          </a>
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/mother_and_teenage_daugther_s.jpg" class="img-thumbnail my-3">
          </a>
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/older_man_stocking_shelves_s.jpg" class="img-thumbnail my-3">
          </a>
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/older_woman_enjoying_a_visit_from_family_s.jpg"
              class="img-thumbnail my-3">
          </a>
        </div>
        <div class="col-md-2">
          <a href="javascript:void(0)">
            <img src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/father_and_young_daughter_play_s.jpg" class="img-thumbnail my-3">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg">
    <div class="bg_part2">
      <div id="agent-module" class="col-lg-6">
        <img class="safari_styles_agent" src="https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large"
          alt="">
        <h2>Find an Agent Near You</h2>
        <p>One of our 18,000 agents is here to help.</p>
        <form action="https://www.statefarm.com/agent" id="find-agent-form" method="get">
          <div class="-oneX-widget--err">
            <div id="agent-zip-field" class="-hp-textfield-button">
              <input id="agent-zip-code-input" class="geo-zip" type="tel" name="zipCode" title="ZIP Code" aria-required="true" limit="5">
              <label for="agent-zip-code-input">ZIP Code</label>
              <button id="agent-find-agent-button" type="submit" data-name="zipCode" class="-oneX-btn-primary" href="javascript:void(0)">Find an Agent</button>
            </div>
            <div class="" id="agent-error-alert"></div>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>