/*for carousel styles*/
/* .carousel {
    height: 500px;
    margin-bottom: 60px;
}
 .carousel-caption {
    z-index: 10;
}
 .carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
} */


@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        line-height: 1;
        height: 445px;
    }

/*banner tabs styles*/
.quote_card h2{
    text-align: center;
    font-family: SFNewsGothic-Reg;
    font-size: 31px;
    color: #333;
    letter-spacing: 0;
    padding-top: 42px;
    padding-bottom: 20px;
    margin: 0;
}
.quote_card p{
text-align: center;
display: block;
font-family: SFNewsGothic-Reg;
font-size: 18px;
color: #333;
letter-spacing: 0;
}
.quote_card ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.quote_card ul li{
    padding: 0 20px;
}
.quote_card ul li a{
    color: #e53e3b;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}


/* :host {
    /deep/ { */
        /* .mat-tab-list {
            padding: 0px 0 !important;
        } */
    /* }
} */


/*protect part styles*/
.protect_part{
    background: #eee;
    padding: 5% 0;
}
.protect_part .insurence img{
    width: 100%;
    filter: drop-shadow(0 2px 15px rgba(0,0,0,0.30))
}
.promo_text{
    
}
.promo_text p{
    margin-bottom:40px;
    font-family: ArialMT,Arial,sans-serif;
    font-size: 16px;
    color: #6e6e6e;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 20px;
}
.promo_text h2{
    padding-bottom: 15px;
    font-size: 39px;
    line-height: 44px;
}
.oneX_link {
    font-family: Arial-BoldMT,Arial,sans-serif;
    font-size: 16px;
    color: #0a70bc;
    letter-spacing: 0;
    background-position: right center;
    padding: 5px 0 5px 0;
    font-weight: bold;
}

/*bg part*/
.bg_part{
    background: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/xxl-imgFamily.jpg);
    width: 100%;
    height: 450px;
    margin-top: -20px;
}
.bg_part_text_card {
    background: #e1261c;
    width: 30%;
    margin-top: 295px;
    padding: 40px 40px;
    color: #fff;
    position: absolute;
    margin-left: 100px;
}
.bg_part_text_card a{
    color: #fff;
}

/*tabs part */
.tabs_part{
    background: #fbf9f9;
    width: 100%;
    height: 450px;
}
.card_body p {
    font-size: 25px;
    color: #505050;
    text-align: center;
    line-height: 38px;
    font-family: "SourceSansPro",Arial;
    padding-top: 50px;
}
.card_body .list-inline {
    margin-top: 50px;
    margin-bottom: 0;
}
.card_body .list-inline-item {
    width: 19%;
}
.card_body a {
    font-size: 20px;
    color: #505050;
    letter-spacing: 0;
    line-height: 20px;
}
.card_body a {
    text-decoration: none;
}
.pn-auto-insurance {
    background-image: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: auto;
}
.pn-home-insurance {
    background-image: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: auto;
}
.pn-health {
    background-image: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: auto;
    /* background-size: 48px 47px; */
}
.pn-life {
    background-image: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: auto;
}
.pn-arrow_right {
    background-image: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage-test/img/sprite/homepage_sprite.svg#find_an_agent_large);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin: auto;
    /* background-size: 24px 24px; */
    /* background-position: center; */
}
.card_body .list-text {
    font-family: "SourceSansPro",Arial;
    font-size: 16px;
    color: #6E6E6E;
    text-align: center;
    line-height: 14px;
    margin-top: 15px;
}
.card_body li span {
    display: block;
}


/*live life part*/
.live_life_part{
    padding: 3% 0;
    background: #f0eaea;
}
.live_life_part h2{
    margin-bottom: 0;
    color: #333;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
}
.live_life_part p{
    font-family: SFNewsGothic-Reg;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
    color: #4a4a4a;
    line-height: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*bg2 part*/
/* .bg{
    background: #f3f3f3;
} */
.bg_part2{
    background: url(https://static1.st8fm.com/en_US/b2c_dvts/homepage/img/background/women_working_together_l.jpg);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
}
#agent-module {
    padding-left: 11%;
}

#agent-module {
    text-align: center;
    height: 500px;
}
#agent-module img {
    margin-top: 70px;
    margin-bottom: 30px;
}
.safari_styles_agent {
    width: 79px;
    height: 80px;
}
#agent-module h2 {
    font-family: SFNewsGothic-Reg;
    color: #333;
    letter-spacing: 0;
    line-height: 42px;
    padding: 0;
    margin-bottom: 20px;
}
#agent-module p {
    font-family: SFNewsGothic-Reg;
    font-size: 22px;
    color: #333;
    letter-spacing: 0;
    line-height: 28px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.-oneX-widget--err {
    border-radius: 4px;
}
#agent-zip-field {
    width: 100%;
    max-width: 350px;
}

.-hp-textfield-button {
    display: inline-block;
    position: relative;
    height: 68px;
}
.-hp-textfield-button input {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    color: #505050;
    font-family: Arial,sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    outline: 0;
}
.-hp-textfield-button label {
    position: absolute;
    top: 25px;
    left: 20px;
    margin: 0;
    color: #6e6e6e;
    font-size: 1em;
    line-height: 18px;
    pointer-events: none;
    transition: top .2s,color .2s,font-size .2s;
}
.-hp-textfield-button button {
    display: inline;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 40%;
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}




/*for categories styles start here */

/*category dropdown styles*/
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    /* background: #999999; */
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 13px Arial, Helvetica, sans-serif;
    color: #e53e3b;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
    text-align: center;
}
.top-level-menu a:hover { color: #000000; }